@import "styles/variables";


.card {
	position: relative;
	cursor: pointer;

	&:hover {

		.mediaWrapper:before {
			opacity: 0.7;
		}
	}
}

.mediaWrapper {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	img {
		display: block;
	}

	&:before {
		z-index: 1;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		background: rgba(0, 32, 81, 1);
		transition: all 0.3s linear;
	}
}

.linkWrapper {
	position: relative;
	z-index: 1;
	padding-top: 125%;
}

.linkContainer {
	padding: 32px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.linkTitle {
	font-family: $font__zan;
	font-size: 44px;
	line-height: 1;
	color: $sh_white;
	text-transform: uppercase;
}

.linkDescription {
	font-size: 16px;
	color: $sh_white;
	line-height: 1.5;
	margin-top: 8px;
}
